# Dependências do Node
node_modules/

# Ficheiros de log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.tsbuildinfo

# Pastas de compilação/build (caso venhas a gerar a versão final)
dist/
build/
out/

# Ficheiros de ambiente (senhas, chaves de API)
.env
.env.local

# Ficheiros de configuração do Editor (VS Code)
.vscode/

# Angular cache
.angular/
